@tailwind base;
@tailwind components;
@tailwind utilities;

li:focus-visible {
    outline: none;
}

li:hover {
    cursor: pointer;
}

@layer base {
    :root {
        --black_900_19: #00000019;
        --gray_400: #c2c1c1;
        --orange_a400: #ff9213;
        --amber_600: #fbbb00;
        --amber_600_01: #ffb600;
        --amber_a200: #fec93e;
        --amber_a400: #ffbc00;
        --black_900: #0b0a0a;
        --black_900_01: #000000;
        --black_900_4c: #0000004c;
        --black_900_66: #00000066;
        --blue_100: #c5ccff;
        --blue_100_01: #cad1ff;
        --blue_400: #4daaff;
        --blue_50: #e8efff;
        --blue_900: #0052b4;
        --blue_a200: #518ef8;
        --blue_a400: #1877f2;
        --blue_gray_100: #d6dae2;
        --blue_gray_900: #1b2834;
        --blue_gray_900_01: #292d32;
        --blue_gray_900_02: #302d3d;
        --cyan_900: #005a72;
        --deep_orange_100: #ffc7ae;
        --deep_orange_200: #ffa990;
        --gray_200: #f1ece5;
        --gray_200_01: #e9e7e7;
        --gray_200_02: #f0f0f0;
        --gray_200_03: #f1f0f0;
        --gray_300: #dce5e5;
        --gray_500: #a89e9e;
        --gray_600: #777c84;
        --gray_600_01: #7e7171;
        --gray_600_99: #7e717199;
        --gray_900: #111111;
        --gray_900_01: #051244;
        --gray_900_02: #141718;
        --green_600: #28b446;
        --green_800: #049212;
        --green_900: #026206;
        --indigo_200: #a2a9d2;
        --indigo_400: #4d7dd2;
        --indigo_500: #3c58bf;
        --indigo_800: #293688;
        --indigo_900: #00186a;
        --indigo_900_01: #002987;
        --light_blue_300: #4dc8ff;
        --light_blue_700: #0085cc;
        --light_blue_a100: #61e6ff;
        --lime_900: #774000;
        --orange_400: #fe9923;
        --orange_50: #ffecd5;
        --orange_600: #ff8500;
        --orange_700: #ed7c00;
        --orange_a200: #f7a738;
        --pink_a200: #ff3e75;
        --red_500: #f14336;
        --red_600: #e52836;
        --red_800: #cb2026;
        --red_900: #c60034;
        --red_a200: #ff5050;
        --red_a400: #fc1a40;
        --red_a700: #d80027;
        --teal_500: #00a072;
        --teal_600: #008c72;
        --teal_700: #007372;
        --teal_700_01: #006e72;
        --white_a700: #ffffff;
        --yellow_50: #fff8f0;
        --yellow_700: #fcbf29;
        --yellow_700_01: #ffbb3a;
        --yellow_700_02: #efb635;
        --yellow_800: #f7981d;
        --yellow_800_01: #e8932e;
        --yellow_900: #fe8821;
        --black_600: #656d76;
        --gray_shadow: #00000029;

        --shadow-xs: 00 13px 5px #00000029;

        --radius-xs: 1px;
        --radius-sm: 3px;
        --radius-md: 4px;
        --radius-lg: 5px;
        --radius-xl: 8px;
        --radius-2xl: 10px;
        --radius-3xl: 12px;
        --radius-4xl: 14px;
        --radius-5xl: 16px;
        --radius-6xl: 18px;
        --radius-7xl: 20px;
        --radius-8xl: 22px;
        --radius-9xl: 24px;
        --radius-10xl: 68px;
        --radius-11xl: 84px;

        --space-xs: 2px;
        --space-sm: 4px;
        --space-md: 6px;
        --space-lg: 8px;
        --space-xl: 10px;
        --space-2xl: 12px;
        --space-3xl: 14px;
        --space-4xl: 16px;
        --space-5xl: 18px;
        --space-6xl: 20px;
        --space-7xl: 24px;
        --space-8xl: 30px;
        --space-9xl: 32px;
        --space-10xl: 38px;
        --space-11xl: 40px;
        --space-12xl: 46px;
        --space-13xl: 48px;
        --space-14xl: 50px;
        --space-15xl: 96px;
    }

    [type="text"],
    input:where(:not([type])),
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        appearance: none;
        background-color: transparent;
        border-color: unset;
        border-width: 0;
        border-radius: unset;
        padding: unset;
        font-size: unset;
        line-height: unset;
    }

    [type="text"]:focus,
    [type="email"]:focus,
    [type="url"]:focus,
    [type="password"]:focus,
    [type="number"]:focus,
    [type="date"]:focus,
    [type="search"]:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
        --tw-ring-color: transparent;
        border-color: transparent;
    }

    [type="radio"]:focus,
    [type="checkbox"]:focus {
        --tw-ring-color: transparent;
    }
}

@layer components {
    .container-xs {
        @apply w-full mx-auto max-w-6xl;
    }
}